@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Aeonik TRIAL", sans-serif;
  background-color: #f4f4f4;
}

p {
  color: #4b5563;
}

#color {
  font-family: "Pacifico" , cursive;
}

*::-webkit-scrollbar {
  width: 7px;
}
.LearnSidebar::-webkit-scrollbar {
  width: 4px;
}


.LearnTopbar::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
*::-webkit-scrollbar-thumb {
  border: 0px solid;
  border-radius: 10px;
  background-color: #DDF345;
}
